@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font: normal 13px/1.5 "Noto Sans", sans-serif;
  color:#616161;
  font-weight: 300;
  text-align: center;
  background-color: #000;
  background: url("res/background.png") no-repeat center center fixed;
  background-size: cover;
}

header {
  height: 100vh;
  /* height: calc(100vh - 30px); */
  padding: 0;
  margin: 0;
  /* border: dashed 1px; */
}

footer {
  height: 20px;
  padding: 10px;
}

h1 {
  color: rgb(255, 87, 34);
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  margin: 0 0 5px;
}

h2 {
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 10px;
  line-height: 110%;
}

a {
  margin: 0 10px;
}

#profile {
  width: 220px;
  height: 340px;
  padding: 60px 20px 20px;
  margin: 0;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#me {
  width: 120px;
  padding: 0;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px 8px;
  border-radius: 50%;
}

#sns {
  margin: 30px 0;
}

#shi {
  background-color: #fff;
  width: 90%;
  padding: 20px;
  margin: 10px auto;
  border-radius: 4px;
}

.unselectable {
  user-select: none;
}
